---
layout: default
breadcrumbs: [['/','home']]
title: Roll scans
vim: ts=3
---

<h1> Complete Roll Scans</h1>

<p> 
This page list scans of 23 complete piano rolls in full color at 300
dpi resolution as well as several derivative image formats.
These are initial scans from 
the <a target="_blank" href="https://library.stanford.edu/projects/player-piano-project/collections">Stanford Libraries' piano-roll scanner</a>.

<p>
Click on roll thumbnail images to view a 100-dpi (or less for longer
rolls) JPEG versions of the rolls, which are 10-15 MB in size and
suitable for viewing in a web-browser. The original full-color
uncompressed TIFFs are about 1 GB or larger, and these are also
made available as separate compressed TIFF images for each color
channel (about 250 MB each). 

Note that the green channel of the TIFF images are scanned at 300 DPI, while the
red and blue channels are scanned at 150 DPI and then interpolated to
300 DPI by the camera firmware, so in theory the green channel contains
the highest resolution image of the rolls.

There is also a PNG image which is a
2-color thresholded version of the roll, keeping the same size as the original
image, but much smaller at less than 1 MB each..

<p>
TIFF and PNG images should be oriented in "notes" orientation, where
the leader is at the top of the image, and bass notes are on the
left side of the image.  For rolls other than Red Welte rolls, this
means that the image is reflected on a vertical axis.  JPEG images
are in the "visual" orientation.  This places the bass notes always
on the left, but the leader is placed at the bottom of the image
for most rolls except Red Welte rolls.


<p>
15 out of 23 rolls contain frame-duplication errors, where pieces of the images 
are duplicated, over-writing frames which are missing or dropped when recording
the images.  Consecutive frame-duplication errors are marked in the JPEG images,
but not in the TIFF or PNG images.  The marks consist of a solid color covering
1/4 of the problemmatic frame.  For each adjacent frame, the duplication marker
shifts to the other side of the image.  Here is an example from the 
<a href="#pennino">Pennino</a> roll where there are 10 successive duplicate frames
(representing 1 physical inch on the rolls):

<p>
<img src="10duplications.png">

<p> 
Most commonly there will be a burst of shorter duplciation errors at the
start of a scan, such as this example from the <a href="#pennino">same roll</a>:

<p> 
<img src="startduplications.png">

<p> 
Three colors are cycled through to mark the frame duplications to separate
separate duplcation of a different frame, so the above image contains
six separate duplication events, each two to three frames in length.

<p>
Rolls are grouped by format.  Click on a format in the list below to
move to the rolls scanned in that format.

<p>
Go to: [
 <a href="#audiographic_rolls">AudioGraphic</a> | 
 <a href="#duoart_rolls">Duo-Art</a> | 
 <a href="#redwelte_rolls">Red</a> | 
 <a href="#greenwelte_rolls">Green</a> | 
 <a href="#licensee_rolls">Licensee</a> | 
 <a href="#ampico_rolls">Ampico</a> | 
 <a href="#organ_rolls">Organ</a> | 
 <a href="#metrostyle_rolls">Metrostyle</a> | 
 <a href="#test_rolls">Test Rolls</a> | 
 <a href="#calibration_rolls">Calibration</a> |
 <a href="#nonreproducing_rolls">Other</a>
]



<!-- LISTINGS FOR EACH ROLL TYPE ------------------------------------------ -->

<a name="audiographic_rolls"></a>
<h2> Audiographic Rolls </h2>
Multimedia rolls with text and pictures printed on roll.
<div class="listing" id="audiographic-rolls"></div>


<a name="duoart_rolls"></a>
<h2> Duo-Art Rolls </h2>
<div class="listing" id="duoart-rolls"></div>


<a name="redwelte_rolls"></a>
<h2> Red Welte Rolls </h2>
<div class="listing" id="redwelte-rolls"></div>


<a name="greenwelte_rolls"></a>
<h2> Green Welte Rolls </h2>
<div class="listing" id="greenwelte-rolls"></div>


<a name="licensee_rolls"></a>
<h2> Welte-Mignon Licensee Rolls </h2>
<div class="listing" id="licensee-rolls"></div>


<a name="ampico_rolls"></a>
<h2> Ampico Rolls </h2>
<div class="listing" id="ampico-rolls"></div>


<a name="metrostyle_rolls"></a>
<h2> Metrostyle Rolls </h2>
<div class="listing" id="metrostyle-rolls"></div>


<a name="organ_rolls"></a>
<h2> Organ Rolls </h2>
<div class="listing" id="organ-rolls"></div>


<a name="test_rolls"></a>
<h2> Test Rolls </h2>
These are scans of various test rolls, either hand-made or produced
by piano-roll companies, used to calibrate player-piano playback
mechanisms.
<div class="listing" id="test-rolls"></div>


<a name="calibration_rolls"></a>
<h2> Calibration Roll </h2>
This section contains scans of a roll used to calibrate the 
horizontal and vertical DPI at the lower and upper camera setting.
The lengthwise DPI was measured to be 300.24&pm;0.21 for the lower camera
setting and 300.32&pm;0.19 in the upper camera setting.  The camera position
should not affect the lengthwise DPI, and it doesn't.
The width DPI was measured to be 301.39 pixels/inch for the lower camera
setting and 251.48 pixels/inch for the upper camera setting.
The caluations for these values are on 
<a href="https://docs.google.com/spreadsheets/d/1OOC0NXxUMBS15NsSyTAnJv_4hsJqpxm9UKJ8w52S-sc/edit#gid=0">this spreadsheet</a>.
<div class="listing" id="calibration-rolls"></div>


<a name="nonreproducing_rolls"></a>
<h2> Non-reproducing Rolls </h2>
<div class="listing" id="nonreproducing-rolls"></div>




<!-- ATON DATA ------------------------------------------------------------ -->

<script id="test-rolls-data" type="application/x-aton">
	{% include_relative test-rolls.aton %}
</script>

<script id="calibration-rolls-data" type="application/x-aton">
	{% include_relative calibration-rolls.aton %}
</script>

<script id="duoart-rolls-data" type="application/x-aton">
	{% include_relative duoart-rolls.aton %}
</script>

<script id="audiographic-rolls-data" type="application/x-aton">
	{% include_relative audiographic-rolls.aton %}
</script>

<script id="metrostyle-rolls-data" type="application/x-aton">
	{% include_relative metrostyle-rolls.aton %}
</script>

<script id="redwelte-rolls-data" type="application/x-aton">
	{% include_relative redwelte-rolls.aton %}
</script>

<script id="greenwelte-rolls-data" type="application/x-aton">
	{% include_relative greenwelte-rolls.aton %}
</script>

<script id="organ-rolls-data" type="application/x-aton">
	{% include_relative organ-rolls.aton %}
</script>

<script id="nonreproducing-rolls-data" type="application/x-aton">
	{% include_relative nonreproducing-rolls.aton %}
</script>

<script id="ampico-rolls-data" type="application/x-aton">
	{% include_relative ampico-rolls.aton %}
</script>

<script id="licensee-rolls-data" type="application/x-aton">
	{% include_relative licensee-rolls.aton %}
</script>


<!-- SCRIPT --------------------------------------------------------------- -->

<script>

document.addEventListener("DOMContentLoaded", function() {

	var aton = new ATON();
	aton.setOnlyChildRoot();

	{% include_relative rolldata.js collection="duoart" %}
	{% include_relative rolldata.js collection="audiographic" %}
	{% include_relative rolldata.js collection="calibration" %}
	{% include_relative rolldata.js collection="test" %}
	{% include_relative rolldata.js collection="metrostyle" %}
	{% include_relative rolldata.js collection="redwelte" %}
	{% include_relative rolldata.js collection="greenwelte" %}
	{% include_relative rolldata.js collection="organ" %}
	{% include_relative rolldata.js collection="nonreproducing" %}
	{% include_relative rolldata.js collection="ampico" %}
	{% include_relative rolldata.js collection="licensee" %}

});



//////////////////////////////
//
// Handlebars helper "plural" --
//

Handlebars.registerHelper('plural', function(sstring, pstring, count) {
	return new Handlebars.SafeString(parseInt(count) == 1 ? sstring : pstring);
});



//////////////////////////////
//
// Handlebars helper "jpgdpi" --
//

Handlebars.registerHelper('jpgdpi', function(pixels, dpi) {
	var percentage = parseInt(64000 / pixels * 100 + 0.5);
	if (percentage > 33) {
		percentage = 33;
	}
	var d = parseFloat(dpi);
	if (!d) {
		d = 300.0;
	}
	var newdpi = parseInt(percentage / 100.0 * d + 0.5 + 0.5);

	var output = newdpi + "-dpi";
	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// Handlebars helper "length" --
//

Handlebars.registerHelper('length', function(pixels, dpi) {
	var p = parseInt(pixels);
	if (!p) {
		return new Handlbars.SafeString("");
	}
	var d = parseFloat(dpi);
	if (!d) {
		return new Handlbars.SafeString("");
	}
	var r = 0;
	var matches;
	if (matches = dpi.match(/pm;\s*([\d.]+)/)) {
		r = parseFloat(matches[1]);
	}

	var l = pixels / d / 12.0;
	var length = parseInt(l * 100.0)/100.0;

	var output = ", " + length;
	if (r > 0) {
		var upper = pixels / (d - r) / 12.0;
		var diff = upper - l;
		diff = parseInt(diff * 100) / 100.0;
		if (diff > 0) {
			output += " &pm; ";
			output += diff;
		}
	}
	output += " feet";


	return new Handlebars.SafeString(output);
});
						
						

</script>


{% include_relative templates.html %}

{% include_relative style.html %}

<div style="height:400px;"></div>



