

details.link-entry > summary {
	cursor: pointer;
	font-size: 1.5rem;
	color: #d77942;
	outline: none;
}

details.link-category > summary {
	cursor: pointer;
	color: #42a779;
	font-size: 2rem;
	outline: none;
}

.url-note {
	color: #ddd;
}

