<table class="meta-coord" padding=0 cellspacing=0>
<tr><td>
<table class="coord">
<tr><td>1</td>	<td>38.428</td>	<td>2.651</td></tr>
<tr><td>2</td>	<td>39.712</td>	<td>2.651</td></tr>
<tr><td>3</td>	<td>&nbsp;&nbsp;9.853</td>	<td>8.120</td></tr>
<tr><td>4</td>	<td>11.060</td>	<td>8.120</td></tr>
<tr><td>5</td>	<td>12.284</td>	<td>8.120</td></tr>
<tr><td>6</td>	<td>13.474</td>	<td>8.120</td></tr>
<tr><td>7</td>	<td>15.872</td>	<td>8.120</td></tr>
<tr><td>8</td>	<td>17.008</td>	<td>8.120</td></tr>
<tr><td>9</td>	<td>14.648</td>	<td>8.147</td></tr>
<tr><td>10</td>	<td>18.298</td>	<td>8.147</td></tr>
</table>
</td><td>
<table class="coord">

<tr><td>11</td>	<td>25.232</td>	<td>8.169</td></tr>
<tr><td>12</td>	<td>26.456</td>	<td>8.169</td></tr>
<tr><td>13</td>	<td>27.784</td>	<td>8.169</td></tr>
<tr><td>14</td>	<td>28.983</td>	<td>8.169</td></tr>
<tr><td>15</td>	<td>30.157</td>	<td>8.169</td></tr>
<tr><td>16</td>	<td>&nbsp;&nbsp;3.867</td>	<td>10.914</td></tr>
<tr><td>17</td>	<td>&nbsp;&nbsp;5.085</td>	<td>10.914</td></tr>
<tr><td>18</td>	<td>&nbsp;&nbsp;3.795</td>	<td>22.187</td></tr>
<tr><td>19</td>	<td>&nbsp;&nbsp;5.008</td>	<td>22.187</td></tr>
<tr><td>20</td>	<td>15.795</td>	<td>22.231</td></tr>
</table>
</td><td>
<table class="coord">

<tr><td>21</td>	<td>16.991</td>	<td>22.231</td></tr>
<tr><td>22</td>	<td>28.975</td>	<td>22.247</td></tr>
<tr><td>23</td>	<td>44.061</td>	<td>22.346</td></tr>
<tr><td>24</td>	<td>45.125</td>	<td>22.308</td></tr>
<tr><td>25</td>	<td>&nbsp;&nbsp;9.811</td>	<td>30.576</td></tr>
<tr><td>26</td>	<td>10.997</td>	<td>30.576</td></tr>
<tr><td>27</td>	<td>21.649</td>	<td>30.598</td></tr>
<tr><td>28</td>	<td>22.884</td>	<td>30.598</td></tr>
<tr><td>29</td>	<td>33.561</td>	<td>30.642</td></tr>
<tr><td>30</td>	<td>34.785</td>	<td>30.642</td></tr>
</table>
</td><td>
<table class="coord">

<tr><td>31</td>	<td>38.249</td>	<td>36.250</td></tr>
<tr><td>32</td>	<td>39.511</td>	<td>36.250</td></tr>
<tr><td>33</td>	<td>12.132</td>	<td>41.791</td></tr>
<tr><td>34</td>	<td>13.378</td>	<td>41.791</td></tr>
<tr><td>35</td>	<td>14.536</td>	<td>41.791</td></tr>
<tr><td>36</td>	<td>15.688</td>	<td>41.791</td></tr>
<tr><td>37</td>	<td>16.900</td>	<td>41.758</td></tr>
<tr><td>38</td>	<td>18.190</td>	<td>41.791</td></tr>
<tr><td>39</td>	<td>28.853</td>	<td>41.849</td></tr>
<tr><td>40</td>	<td>30.052</td>	<td>41.849</td></tr>
</table>

</td></tr>
</table>


