<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Thu Oct 22 19:41:48 PDT 2015
// Last Modified: Thu Oct 22 19:41:51 PDT 2015
// Filename:      scripts/templates.html
// Syntax:        JavaScript 1.8.5/ECMAScript 5.1
// vim:           ts=3 hlsearch
//
// Description:   Handlebars templates and helper functions.
//

var renderContent     = null;
var renderSample     = null;

document.addEventListener('DOMContentLoaded', function() {
	renderContent = Handlebars.compile(
		document.querySelector('#content-template').innerHTML);
	renderSample = Handlebars.compile(
		document.querySelector('#sample-template').innerHTML);
});

</script>



<!--
//////////////////////////////
//
// content-template -- Display the content.
//
-->

{% raw %}
<script id="content-template" type="text/x-handlebars-template">

<style>

body {
	counter-reset: sample;
}

h3:before {
	counter-increment: sample;
	content: counter(sample) ". ";
}

dl.roll-info {
   border: none;
}

dl.roll-info  dt {
   float: left;
   clear: left;
   width: 135px;
	margin-top: 0;
	margin-bottom: 0.45rem;
   text-align: right;
   font-weight: bold;
   color: #997715;
   margin-right: 0.5em;
	padding-right: 0.5em;
}

dl.roll-info  dt:after {
   content: ":";
}

dl.roll-info  dd {
	margin-bottom: 0.45rem;
   padding-left: 135px;
	display: block;
}

</style>

<img style="float:right; width:300px;" src="label-300dpi.jpg">

<dl class="roll-info">

{{#if LABEL}}
	<dt>Label</dt>
	<dd>
		{{{LABEL}}}
		{{#if CATALOG}}
			{{{CATALOG}}}
		{{/if}}
	</dd>
{{/if}}

{{#if RECUTTER}}
	<dt>Recutter</dt>
	<dd>
		{{{RECUTTER}}}
	</dd>
{{/if}}

{{#if LOCATION}}
	<dt>Location</dt>
	<dd>
		{{{LOCATION}}}
	</dd>
{{/if}}

{{#if WORK}}
	<dt>Work</dt>
	<dd>
		{{#if COMPOSER}}
			<span class="composer">{{{COMPOSER}}}</span>:
		{{/if}}
		{{{WORK}}}
	</dd>
{{/if}}

{{#if PERFORMER}}
	<dt>Performer</dt>
	<dd>
		<span class="performer">{{{PERFORMER}}}</span>{{#if PERFORMER_DATES}}<small> ({{{PERFORMER_DATES}}})</small>{{/if}}{{#if EXPRESSIONIST}}, with {{{EXPRESSIONIST}}}{{/if}}{{#if RECORD_DATE}}, <span class="record-date">{{{RECORD_DATE}}}</span>
		{{/if}}
	</dd>
{{/if}}

{{#if ISSUE_DATE}}
	<dt>Issue&nbsp;Date:</dt>
	<dd>
		{{{ISSUE_DATE}}}{{#if REISSUE_DATE}}, reissued {{{REISSUE_DATE}}}{{/if}}
	</dd>
{{/if}}

{{#if SEARCHWORKS}}
	<dt>Searchworks</dt>
	<dd>
		{{{searchworks SEARCHWORKS CALLNUM}}}
	</dd>
{{/if}}

{{#if NOTE}}
	<dt>Note</dt>
	<dd>
		{{{NOTE}}}
	</dd>
{{/if}}

{{#if MECHANISM}}
	<dt>Format</dt>
	<dd>
		{{{mechanism MECHANISM}}}
	</dd>
{{/if}}

{{#if HOLES}}
	<dt>Rows</dt>
	<dd>
		{{{HOLES}}}{{#if SPACING}}; {{SPACING}} per inch{{/if}}
	</dd>
{{/if}}

</dl>

<h2 style="display:inline-block; width:100%;">Sample scans:</h2>

{{samples SAMPLE}}


</script>
{% endraw %}


<script>

///////////////////////////////////////////////////////////////////////////
//
// Helper functions for handlebars-js.
//

Handlebars.registerHelper('searchworks', function(url, callnum) {
	var matches;
	var text = callnum;
	if (!callnum) {
		text = "searchworks";
		if (matches = url.match(/\/(\d+)/)) {
			text = matches[1];
		}
	}
	var output = '<a target="_new" href="' + url + '">' + text + '</a>';
	return new Handlebars.SafeString(output);
});



Handlebars.registerHelper('mechanism', function(mechanism) {
	var output = mechanism;
	output = output.replace(/\bWM\b/g, "Welte-Mignon");
	return new Handlebars.SafeString(output);
});



Handlebars.registerHelper('samples', function(samples) {
	var output = '';
	if (Array.isArray(samples)) {
		for (var i=0; i<samples.length; i++) {	
			output += getSampleHtml(samples[i], i+1);
		}
	} else {
		output += getSampleHtml(samples, 1);
	}

	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// getSampleHtml --
//

function getSampleHtml(sample, number) {
   var output = renderSample(sample);
	return output;
}

</script>



<!--
//////////////////////////////
//
// sample-template -- Display the sample.
//
-->

{% raw %}
<script id="sample-template" type="text/x-handlebars-template">

<details open>
<summary>
<h3 style="display:inline;"> {{{DESCRIPTION}}} </h3>
</summary>

<table><tr><td>

<!--

<label>Bit Depth</label>
<select id="depth" class="form-control">
   <option>24</option>
   <option>8</option>
   <option>1</option>
   <option>none</option>
</select>
</td><td>

<label>DPI</label>
<select id="dpi" class="form-control">
   <option>600</option>
   <option>300</option>
   <option>150</option>
   <option>none</option>
   <option>1200</option>
</select>
</td><td>

<label>Threshold</label>
<select id="threshold" class="form-control">
   <option>N/A</option>
   <option>20</option>
   <option>40</option>
   <option>60</option>
</select>
</td><td>
-->

<span style="font-size:16px;">Zoom:&nbsp;&nbsp;</span>
<input
	style="display:none;"
	type="text"
	id="zoom{{NUMBER}}"
	class="span2"
	value=""
	data-slider-min="800"
	data-slider-max="12000"
	data-slider-step="10"
	data-slider-value="800"
	data-slider-orientation="horizontal"
	data-slider-selection="after"
	data-slider-tooltip="hide">
</td><td>

<!--
<span style="font-size:16px;">Overlay opacity:</span>
<input
	style="display:none;"
	type="text"
	id="foo"
	class="span2"
	value=""
	data-slider-min="0"
	data-slider-max="1"
	data-slider-step="0.1"
	data-slider-value="0.7"
	data-slider-orientation="horizontal"
	data-slider-selection="after"
	data-slider-tooltip="hide">
-->

</td></tr></table>

<style>
.sample-scan {
	overflow: scroll;
	width:800px;
	height:800px;
	margin-bottom:40px;
	background-size: 800px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-attachment: local;
	background-image: url('/images/resolution/600dpi-24bit.png');
}
</style>

<!--
<div id="sample-scan-{{NUMBER}}" style="background-image: url('sample-{{NUMBER}}-600dpi.jpg');" class="sample-scan">
-->
<div id="sample-scan-{{NUMBER}}" style="background-image: none;" class="sample-scan">
	<img id="overlay{{NUMBER}}" src="sample-{{NUMBER}}-600dpi.jpg" style="max-width:12000px; width:800px;">
</div>

</details>

</script>
{% endraw %}



