
<!-- vim:set ts=3 : -->
<!-- source https://github.com/eolienne/Processed-Piano-Roll-Inventory -->

<h3> Roll counts by label </h3>

<style>

table.pr-table td { text-align: center; padding: 4px 10px; }
table.pr-table td { text-align: right; }
</style>

<table>
<tr valign=top><td>

<table class="pr-table">
<tr><th> Label 								</th><th>	Count	</th></tr>
<tr><td>	Aeolian								</td><td>	6		</td></tr>
<tr><td>	Aeolian (non-Duo-Art)			</td><td>	3		</td></tr>
<tr><td>	Ampico								</td><td>	2806	</td></tr>
<tr><td>	Animatic								</td><td>	68		</td></tr>
<tr><td>	Apollo								</td><td>	27		</td></tr>
<tr><td>	Artempo								</td><td>	3		</td></tr>
<tr><td>	Artrio-Angelus						</td><td>	115	</td></tr>
<tr><td>	Autograph							</td><td>	5		</td></tr>
<tr><td>	BluesTone							</td><td>	1		</td></tr>
<tr><td>	Broadway								</td><td>	2		</td></tr>
<tr><td>	Cable Company						</td><td>	1		</td></tr>
<tr><td>	Carilon Rolls						</td><td>	25		</td></tr>
<tr><td>	Cecilian								</td><td>	1		</td></tr>
<tr><td>	Duo-Art								</td><td>	2691	</td></tr>
<tr><td>	Eighty-eight note					</td><td>	2		</td></tr>
<tr><td>	Gulbransen							</td><td>	1		</td></tr>
<tr><td>	Imperial								</td><td>	6		</td></tr>
<tr><td>	International Word Roll			</td><td>	1		</td></tr>
<tr><td>	Mastertouch							</td><td>	22		</td></tr>
<tr><td>	Melodee								</td><td>	10		</td></tr>
<tr><td>	Metrostyle ThemodisPianolist	</td><td>	7		</td></tr>
</table>

</td><td>

<table style="margin-left:10px;" class="pr-table">
<tr><th> Label 								</th><th>	Count	</th></tr>
<tr><td>	Miscellaneous						</td><td>	13		</td></tr>
<tr><td>	Perfection							</td><td>	6		</td></tr>
<tr><td>	Philag								</td><td>	4		</td></tr>
<tr><td>	Picturoll							</td><td>	1		</td></tr>
<tr><td>	Picturoll (Filmusic Co.)		</td><td>	1		</td></tr>
<tr><td>	Pop (Musicrafts)					</td><td>	2		</td></tr>
<tr><td>	Popularoll							</td><td>	3		</td></tr>
<tr><td>	QRS									</td><td>	402	</td></tr>
<tr><td>	QRS - ArtEcho						</td><td>	306	</td></tr>
<tr><td>	Rhythmodik							</td><td>	6		</td></tr>
<tr><td>	Rythmodik							</td><td>	1		</td></tr>
<tr><td>	SingA Word Roll					</td><td>	1		</td></tr>
<tr><td>	Solostyle							</td><td>	1		</td></tr>
<tr><td>	Supertone							</td><td>	10		</td></tr>
<tr><td>	Triphonola							</td><td>	234	</td></tr>
<tr><td>	Uni-Record							</td><td>	4		</td></tr>
<tr><td>	United States Music Co.			</td><td>	1		</td></tr>
<tr><td>	Universal							</td><td>	18		</td></tr>
<tr><td>	Vocalstyle							</td><td>	11		</td></tr>
<tr><td>	Welte Mignon						</td><td>	1358	</td></tr>
</table>

</td></tr>
</table>


