
<ol>
<li> Welte red (T100)
<li> Welte green (T98)
<li> Welte licensee
<li> Hupfeld Phonola
<li> Hupfeld Phonola (73)
<li> Hupfeld Phonola (65/73)
<li> Hupfeld Phonola (88)
<li> Hupfeld Pneum. Piano
<li> Hupfeld Universal
<li> Hupfeld DEA
<li> Hupfeld Solophonola (65/88)
<li> Hupfeld Solophonola (88)
<li> Hupfeld Phonola (65/88)
<li> Hupfeld Phonola (88)
<li> Hupfeld Triphonola
<li> Hupfeld Clavitist (73)
<li> Hupfeld Animatic Clavitist (88)
<li> Hupfeld Phonoliszt
<li> Hupfeld Animatic Phonoliszt (88)
<li> Hupfeld Duophonola (88)
<li> Phillipps DUCA
<li> Phillipps Ducanella
<li> Phillipps Pianella
<li> Phillipps Pianella F
<li> Aeolian Duo-Art
<li> Ampico A
<li> Ampico B
