---
layout: default
breadcrumbs: [['/','home']]
title: Resolution
---

<script>
// vim: ts=3

document.addEventListener("DOMContentLoaded", function() {
	var boxes = document.querySelectorAll(".imagelink");
	var matches;
	var content;
	var newcontent;
	var link;
	var dpi;
	var depth;
	var threshold;
	for (var i=0; i<boxes.length; i++) {
		content = boxes[i].outerHTML;
		matches = content.match(/>([^<]*)</);
		if (!matches) {
			continue;
		}
		link = matches[1];
		content = content.replace(/>[^<]*</, "><");
		newcontent  = '<a target="_blank" ';
		newcontent += 'title="';
		if (matches = link.match(/(\d+)dpi/)) {
			newcontent += matches[1] + ' dpi';
		}
		if (matches = link.match(/-(\d+)bit/)) {
			newcontent += ', ' + matches[1] + ' depth';
		}
		if (matches = link.match(/-(\d+)t/)) {
			newcontent += ', ' + matches[1] + ' threshold';
		}
		newcontent += '" ';
		newcontent += 'href="/images/resolution/';
		newcontent += link + '.png">'
		newcontent += content;
		newcontent += '</a>';
		boxes[i].outerHTML = newcontent;
	}
});

</script>

<h1> Resolution Tests</h1>

<img style="margin-left:50px; margin-bottom:5px; float:right;" src="/images/resolution/150dpi-24bit.png">

This page explores the effects that scanning at various resolutions
and bit-depths have on the localization accuracy of piano-roll punch
holes.  The test roll is a Duo-Art 5696 (Nov.  1915): <i>Samson and Delilah
Improvisation</i> composed by Camille Saint-Saëns and performed by the
composer.  The sample region, shown on the right, starts 71 inches
into the roll from the first note.  This section was chosen since
it had a range of punch lengths from 1 to 8 holes. The region
represents 14 separate notes using 40 individual punches.
The physical size of the region is 48.345 &times; 47.202 mm,
or 1142 &times; 1115 pixels at 600 dpi.


<style>

table.image-table {
	margin:50px;
	padding:0px;
	border: 1px solid #dfd0c0;
	border-radius: 4px;
	width: auto;
	display: inline-block;
}

table.image-table tr {
	width: 100%;
}

table.image-table tr:nth-child(1),
table.image-table td:nth-child(1) {
	background-color: #dfd0c0;
}

table.image-table td {
	text-align: center;
	padding: 10px 40px;
}

div.imagelink {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.dpi150 {
	width: 15px;
	height: 15px;
}

.dpi300 {
	width: 30px;
	height: 30px;
}

.dpi600 {
	width: 45px;
	height: 45px;
}

.dpi1200 {
	width: 60px;
	height: 60px;
}

.bit24 {
  background: -webkit-linear-gradient(left top, red , green, blue);
  background: -o-linear-gradient(bottom right, red, green, blue);
  background: -moz-linear-gradient(bottom right, red, green, blue);
  background: linear-gradient(to bottom right, red , green, blue);
}

.bit8 {
  background: -webkit-linear-gradient(left top, black, white);
  background: -o-linear-gradient(bottom right, black, white);
  background: -moz-linear-gradient(bottom right, black, white);
  background: linear-gradient(to bottom right, black, white);
}

.bit2t20 {
  display: inline-block;
  background: -webkit-linear-gradient(left top, black 0%, black 33%, white 33%, white 100%);
  background: -o-linear-gradient(bottom right, black 0%, black 33%, white 33%, white 100%);
  background: -moz-linear-gradient(bottom right, black 0%, black 33%, white 33%, white 100%);
  background: linear-gradient(to bottom right, black 0%, black 33%, white 33%, white 100%);
  border: 1px solid #000;
}

.bit2t40 {
  display: inline-block;
  background: -webkit-linear-gradient(left top, black 0%, black 50%, white 50%, white 100%);
  background: -o-linear-gradient(bottom right, black 0%, black 50%, white 50%, white 100%);
  background: -moz-linear-gradient(bottom right, black 0%, black 50%, white 50%, white 100%);
  background: linear-gradient(to bottom right, black 0%, black 50%, white 50%, white 100%);
  border: 1px solid #000;
}

.bit2t60 {
  display: inline-block;
  background: -webkit-linear-gradient(left top, black 0%, black 66%, white 66%, white 100%);
  background: -o-linear-gradient(bottom right, black 0%, black 66%, white 66%, white 100%);
  background: -moz-linear-gradient(bottom right, black 0%, black 66%, white 66%, white 100%);
  background: linear-gradient(to bottom right, black 0%, black 66%, white 66%, white 100%);
  border: 1px solid #000;
}

</style>


<h2> Test scans </h2>

Click on the icons in the following table to view the sample
images scanned at different resolutions and bit-depths.  An Epson GT-1500
flatbed scanner was used to scan the roll.  However, each resolution
level had slightly different
physical offsets, so the color and greyscale images in the table are
instead down-sampled versions of the 600 dpi color scan, and the
150 and 300 dpi 2-color images are down-samples of the 600 dpi
2-color scans.  The 1200 dpi 2-color images are directly from the
scanner; however, the native resolution of the scanner is 600 &times;
1200 dpi, so one axis is interpolated.


<table class="image-table">

<tr><td></td>
    <td>24 bit</td>
    <td>8 bit</td>
    <td>1 bit</td>
</tr>

<tr>
    <td>150 dpi</td>
    <td> <div class="imagelink dpi150 bit24">150dpi-24bit</div> </td>
    <td> <div class="imagelink dpi150 bit8">150dpi-8bit</div> </td>
    <td> <div class="imagelink dpi150 bit2t20">150dpi-1bit-20t</div>&nbsp
         <div class="imagelink dpi150 bit2t40">150dpi-1bit-40t</div>&nbsp
         <div class="imagelink dpi150 bit2t60">150dpi-1bit-60t</div> </td>
</tr>

<tr>
    <td>300 dpi</td>
    <td> <div class="imagelink dpi300 bit24">300dpi-24bit</div> </td>
    <td> <div class="imagelink dpi300 bit8">300dpi-8bit</div> </td>
    <td> <div class="imagelink dpi300 bit2t20">300dpi-1bit-20t</div>&nbsp;
         <div class="imagelink dpi300 bit2t40">300dpi-1bit-40t</div>&nbsp;
         <div class="imagelink dpi300 bit2t60">300dpi-1bit-60t</div> </td>
</tr>

<tr>
    <td>600 dpi</td>
    <td> <div class="imagelink dpi600 bit24">600dpi-24bit</div> </td>
    <td> <div class="imagelink dpi600 bit8">600dpi-8bit</div> </td>
    <td> <div class="imagelink dpi600 bit2t20">600dpi-1bit-20t</div>&nbsp;
         <div class="imagelink dpi600 bit2t40">600dpi-1bit-40t</div>&nbsp;
         <div class="imagelink dpi600 bit2t60">600dpi-1bit-60t</div> </td>
</tr>

<tr>
    <td>1200 dpi</td>
    <td> </td>
    <td> </td>
    <td> <div class="imagelink dpi1200 bit2t20">1200dpi-1bit-20t</div>&nbsp;
         <div class="imagelink dpi1200 bit2t40">1200dpi-1bit-40t</div>&nbsp;
         <div class="imagelink dpi1200 bit2t60">1200dpi-1bit-60t</div> </td>
</tr>

</table>


<p>
For 2-color images, the roll was scanned at three threshold values of 20,
40 and 60.  The lower threshold values generate smaller apparent diameters for
the holes.  The usable threshold range for the sample roll was from 20 to 70.
Less than 20 will start to drop out holes, and thresholding above 70
will cause significant regions of the paper to be given the same color
as the holes.
</p>

<p>
The following figure shows histograms for the pixel colors in the scan.
Two peaks can be seen: a small one on the left which represents the color
of the holes, and the larger peak to the right which is the color of the paper.
For this test, a black background was used behind the paper to color the
holes (also the lid of the scanner can be removed to generate a black
background, although flattening the paper is more difficult in that case).

</p>

<style>
table.color-hist {
	width:800;
}
table.color-hist td {
	background-repeat: no-repeat;
	background-size: 100%;
	width:220px;
	height:350px;
}
</style>

<table class="color-hist">
<tr>
<td style="background-image: url('/images/resolution/histogram-color.png');"></td>
<td style="background-image: url('/images/resolution/histogram-red.png');"></td>
<td style="background-image: url('/images/resolution/histogram-green.png');"></td>
<td style="background-image: url('/images/resolution/histogram-blue.png');"></td>
</tr>
</table>




<h2> Ground truth </h2>

<p>
The figure shown below is an interactive overlay of circles covering hole
punches in the 600 dpi 24-bit scan, manually placed using Adobe Illustrator.
The assigned diameter of all punch holes are the same and are defined by
hole #22.
</p>

<p>
Select various scan resolutions and bit depths to display underneath
the manually identified punch locations.
This is useful to examine how lower-resolution images and thresholding
may affect punch hole identification (diameter and positioning).  Also,
adjust the overlay opacity and image zoom with the slides on the right.
Note that zoomed image pixels are interpolated by the web browser, and may be
done using different methods in different browsers.
</p>

<table><tr><td>

<label>Bit Depth</label>
<select id="depth" class="form-control">
   <option>24</option>
   <option>8</option>
   <option>1</option>
   <option>none</option>
</select>
</td><td>

<label>DPI</label>
<select id="dpi" class="form-control">
   <option>600</option>
   <option>300</option>
   <option>150</option>
   <option>none</option>
   <option>1200</option>
</select>
</td><td>

<label>Threshold</label>
<select id="threshold" class="form-control">
   <option>N/A</option>
   <option>20</option>
   <option>40</option>
   <option>60</option>
</select>
</td><td>

<span style="font-size:16px;">Zoom:</span>
<input
	style="display:none;"
	type="text"
	id="foo2"
	class="span2"
	value=""
	data-slider-min="500"
	data-slider-max="8000"
	data-slider-step="10"
	data-slider-value="800"
	data-slider-orientation="horizontal"
	data-slider-selection="after"
	data-slider-tooltip="hide">
</td><td>

<span style="font-size:16px;">Overlay opacity:</span>
<input
	style="display:none;"
	type="text"
	id="foo"
	class="span2"
	value=""
	data-slider-min="0"
	data-slider-max="1"
	data-slider-step="0.1"
	data-slider-value="0.7"
	data-slider-orientation="horizontal"
	data-slider-selection="after"
	data-slider-tooltip="hide">

</td></tr></table>

<script>

$(window).load(function(){
	$('#foo').slider()
  		.on('slide', function(ev){
     		// $('#bar').val(ev.value);
			var overlay = document.querySelector("#overlay");
			overlay.style.opacity = ev.value;
  		});
	});

$(window).load(function(){
	$('#foo2').slider()
  		.on('slide', function(ev){
     		// $('#bar2').val(ev.value);
			var gt = document.querySelector("#ground-truth");
			gt.style['background-size'] = ev.value + 'px';
			var overlay = document.querySelector("#overlay");
			overlay.style['width'] = ev.value + 'px';
			overlay.style['height'] = (ev.value * 0.97635727) + 'px';
  		});
	});

</script>

</script>

<script>

$('#dpi').change(changeBackground);
$('#threshold').change(changeBackground);
$('#depth').change(changeBackground);

function changeBackground() {
	var dpi       = document.querySelector("#dpi");
	var depth     = document.querySelector("#depth");
	var threshold = document.querySelector("#threshold");
	var gt        = document.querySelector("#ground-truth");

	if (!dpi.value) {
		gt.style['background-image'] = 'none';
      console.log("NO DPI", dpi.value, "DEPTH", depth.value);
		return;
	}

	if (!depth.value) {
		gt.style['background-image'] = 'none';
      console.log("NO DEPTH", depth.value, "DPI", dpi.value);
		return;
	}

   console.log("displaying");

	if (dpi.value == "1200") {
		depth.value = "1";
	}

	if (depth.value == "1") {
		if (!threshold.value) {
			threshold.value = "40";
		}
		if (threshold.value == 'N/A') {
			threshold.value = "40";
		}
	} else {
		threshold.value = "N/A";
	}

	var image = '/images/resolution/';
	image += dpi.value + 'dpi';
	image += '-' + depth.value + 'bit';
	if ((threshold.value !== 'N/A') && (threshold.value !== "")) {
		image += '-' + threshold.value + 't';
	}
	image += '.png';
	gt.style['background-image'] = 'url("' + image + '")';
	console.log("image", image);

}

</script>

<style>
#ground-truth {
	background-size: 800px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-attachment: local;
	background-image: url('/images/resolution/600dpi-24bit.png');
}
</style>

<div style="margin-bottom: 40px; overflow: scroll; width:800px; height:781px;" id="ground-truth">{% include resolution/ground-truth.svg %}</div>

<p>
Each of the 40 punches are numbered.  The diameter of hole #22 was
measured to be 1.692 mm, which is a diameter of 10.0 pixels at 150
dpi, 20.0 pixels at 300 dpi, 40.0 pixels at 600 dpi, and 79.9 pixels
at 1200 dpi.  At 10-feet per minute, the diameter of a hole is
33.3 milliseconds.
</p>

<p>
The separation between overlapping holes #20 and #21 is 1.196 mm 
(theoretically 1.191 mm for 1/256th of an inch).
This is 7.1 pixels at 150 dpi, 14.1 pixels at 300 dpi, 28.3 pixels at 600 dpi,
and 56.5 pixels at 1200 dpi.  The duration of this distance is 23.5
milliseconds.  The 1.196 mm spacing of punch holes is equivalent to 21.24 
punches per inch.
</p>

<p>
Pixel durations (assuming 10 feet per minute): 3.33 ms at 150 dpi,
1.67 ms at 300 dpi, 0.833 ms at 600 dpi, and 0.417 ms at 1200 dpi.
As a comparison, Standard MIDI note timing resolutions are 
1 millsecond (0.9 ms).
</p>

<p>
Rows of punches are spaced 9 to the inch.  The vertical distance 
between holes 16 and 3 is measured to be 2.974 mm (0.110 in) which
is close to the theoretical value of 0.1111 inches, and represents
a half-step.  The vertical distance between holes 30 and 31 is 
5.608 mm (0.221 in) which is close to the theoretical distance 
of 0.2222 inches and represents a whole-step.  The distance between
holes 3 and 33 is 33.671 mm (1.326 in) which represents 
an octave (theoretically spaced 1.3333 inches apart).
</p>


<h3> Physical coordinates of punches </h3>

<style>
table.coord * {
	font-size:95%;
}

table.coord td {
	padding: 4px 8px;
}


table.coord td:nth-child(1) {
	background-color: #d00;
	text-align: center;
	color: #fff;
}

table.coord td:nth-child(2) {
	margin-right:0;
	padding-right:0;
}

table.coord td:nth-child(3) {
	margin-left:0;
	padding-left:2px;
}

table.coord td:nth-child(2):before { content: '('; }
table.coord td:nth-child(2):after { content: ','; }
table.coord td:nth-child(3):after { content: ')'; }

table.meta-coord > tbody > tr > td {
}
</style>

The following table gives the coordinates for the centers of each
punch hole in the example images, based on the hand-aligned SVG
image created in Adobe Photoshop.  The units are in millimeters
with the origin at the top left corner of the image.  For example,
the first point is 38.428 mm from the left margin, and 2.651 mm
from the top margin.

<br><br>

{% include resolution/coordinates.html %}


<p style="margin-top:20px;">
It would be useful to process each of the test images in various
piano-roll reading software systems (or sub-components of such 
systems) to see how accurately they match to the positions in the
above table which are measured by hand in the 600-dpi image.
</p>




</p>
